<div class="flex flex-col gap-4 bg-[#1A2A32] h-full shadow-xl shadow-black min-h-screen">
  <hr class="m-1 text-blue-900" />
  <a
    [routerLink]="['/']"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="bg-[#2C3E50] border-l-4 border-green-300"
    class="group transition-all duration-300 flex hover:bg-[#2C3E50]  border-l-4"
  >
    <img
      class="p-4 group-hover:scale-110 transition-transform duration-300"
      src="./assets/dash.svg"
      alt="Dashboard"
    />
  </a>
  <a
    [routerLink]="['/call']"
    routerLinkActive="bg-[#2C3E50] border-l-4 border-green-300"
    class="group transition-all duration-300 flex hover:bg-[#2C3E50]  border-l-4"
  >
    <img
      class="p-4 group-hover:scale-110 transition-transform duration-300"
      src="./assets/call.svg"
      alt="Calls"
    />
  </a>
  <a
    [routerLink]="['/miss']"
    routerLinkActive="bg-[#2C3E50] border-l-4 border-green-300"
    class="group transition-all duration-300 flex hover:bg-[#2C3E50]  border-l-4"
  >
    <img
      class="p-4 group-hover:scale-110 transition-transform duration-300"
      src="./assets/miss.svg"
      alt="Missed Calls"
    />
  </a>
  <a
    [routerLink]="['/cal']"
    routerLinkActive="bg-[#2C3E50] border-l-4 border-green-300"
    class="group transition-all duration-300 flex hover:bg-[#2C3E50]  border-l-4"
  >
    <img
      class="p-4 group-hover:scale-110 transition-transform duration-300"
      src="./assets/cal.svg"
      alt="Calendar"
    />
  </a>
  <a
    [routerLink]="['/settings']"
    routerLinkActive="bg-[#2C3E50] border-l-4 border-green-300"
    class="group transition-all duration-300 flex hover:bg-[#2C3E50]  border-l-4"
  >
    <img 
      class="p-4 group-hover:scale-110 transition-transform duration-300" 
      src="./assets/setting.svg" 
      alt="Settings" 
    />
  </a>
</div>
